/* ------------------ Alap ------------------ */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------ Konténer ------------------ */
.main-container {
    background: white;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);

    text-align: center;
    width: 100%;
    max-width: 400px;
}

/* ------------------ Cím ------------------ */
.main-container h1 {
    margin-bottom: 25px;
    color: #333;
}

/* ------------------ Gombok ------------------ */
.btn {
    display: block;
    width: 100%;
    padding: 14px;
    margin: 10px 0;

    text-decoration: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;

    transition: 0.2s;
}

/* Dashboard */
.dashboard-btn {
    background: #6c5ce7;
}

.dashboard-btn:hover {
    background: #574fc5;
}

/* Info */
.info-btn {
    background: #00b894;
}

.info-btn:hover {
    background: #00997a;
}

/* Logout */
.logout-btn {
    background: #e74c3c;
}

.logout-btn:hover {
    background: #c0392b;
}
.admin-btn {
    background: #ff9800;
}

.admin-btn:hover {
    background: #e68900;
}